@charset "UTF-8";

// Vendors
@import 'vendors/normalize', 'vendors/include-media';

//  Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/helpers';

// Layout-related sections
@import 'layout/header', 'layout/footer';

// Components
@import 'components/button';

//  Page-specific styles
@import 'pages/home';
