// CALL TO ACTION

.cta {
  margin-bottom: -50%;

  @include media('>phone') {
    margin-bottom: -4.5rem;
  }
}

.cta__inner-container {
  background-color: $peach;
  border-radius: 1rem;
  padding: 4rem 1.5rem;
  position: relative;
  overflow: hidden;
  background-image: url(/assets/shared/desktop/bg-pattern-call-to-action.svg);
  background-position: 45%;
  background-repeat: no-repeat;
  color: $white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;

  @include media('>=tablet') {
    padding: 3.5rem;
  }
  @include media('>900px') {
    padding: 4.5rem 6rem;
    text-align: left;
    flex-direction: row;
    background-position: right;
  }
}

.cta__copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 430px;
  @include media('>=900px') {
    align-items: flex-start;
  }
}

.cta__headline {
  max-width: 270px;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.875rem;

  @include media('>=tablet') {
    font-size: 2.5rem;
  }
}

.cta__copy {
  margin: 0;
  margin-bottom: 32px;
}

.cta__button {
  @include button;
}

// FOOTER
.footer {
  background: $black;
  padding-top: 9rem;
  padding-bottom: 4.5rem;

  @include media('<=phone') {
    padding-top: 16rem;
    padding-bottom: 4rem;
  }
  @include media('>=tablet') {
    padding-top: 10.5rem;
    padding-bottom: 5rem;
  }
}

.footer__logo {
  max-width: 197px;

  @include media('<tablet') {
    padding-bottom: 2rem;
  }
}

.footer--top-row {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  @include media('>=tablet') {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  }
}

.footer__navigation {
  @include media('<tablet') {
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    width: 100%;
    padding-top: 2rem;
  }
}

.footer__navigation-list {
  display: flex;
  gap: 42px;
  flex-direction: column;
  align-items: center;

  @include media('>=tablet') {
    flex-direction: row;
    gap: 32px;
  }
}

.footer__navigation-list-item {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer--bottom-row {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include media('>=tablet') {
    flex-direction: row;
  }
}

.footer__location,
.footer__contact-us {
  display: flex;
  flex-direction: column;
  color: $white;
  opacity: 0.5;
  align-items: center;
  margin-bottom: 2.5rem;

  @include media('>tablet') {
    // align-items: center;
    margin-bottom: 0;
  }
}

.footer__location {
  & > span:first-child {
    font-weight: 700;
  }
}

.footer__contact-us {
  font-weight: 700;
  @include media('>1024px') {
    margin-right: 220px;
  }
}

.footer__social-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__social-links__item {
  &:hover,
  &:focus {
    & path {
      fill: #ffad9b;
    }
  }
}
