/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  line-height: 26px;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 5px;
  font-weight: 500;
}

@include media('>=tablet') {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.25rem;
    letter-spacing: 5px;
  }
}
