// CONTACT US

.contact-us {
  background: $peach;

  background-image: url(/assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  background-repeat: no-repeat;
  background-position: 80% 0%;
  margin-bottom: 7.5rem;

  @include media('>=tablet') {
    background: none;
  }
}

.contact-us__inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4.5rem 0;

  @include media('>=tablet') {
    background: $peach;
    border-radius: 1rem;
    overflow: hidden;

    background-image: url(/assets/about/desktop/bg-pattern-hero-about-desktop.svg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: -100% -150%;
    padding-inline: 3.6rem;
  }

  @include media('>=desktop') {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;

    background-size: 640px;
    background-position: bottom left;
    padding: 3.5rem 6rem;
  }
}

.contact-us__copy {
  color: $white;

  @include media('>=tablet') {
    text-align: left;
  }
  @include media('>=desktop') {
    max-width: 446px;
  }
}

.contact-us__headline {
  margin: 0;
  margin-bottom: 1.5rem;
}

.contact-us__body {
  margin: 0;
  margin-bottom: 3rem;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include media('>=tablet') {
    align-items: flex-end;
  }
  @include media('>=desktop') {
    max-width: 380px;
    align-items: flex-end;
  }
  & input,
  & textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    color: $white;
    resize: none;

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
      color: white !important;
    }

    @include on-event {
      border: none;
      outline: none;
      border-bottom: 2px solid $white;
      background: transparent;
    }
  }

  & button {
    margin-top: 2rem;
    border: none;

    @include button;
    padding-inline: 3rem;
  }
}
